/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fff;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
  }
  a{
    color: #0366d6;
    text-decoration: none;
  }
  .text-bold{
    font-weight: 500 !important;
  }
  .bg-dark {
    background-color: #24292E !important;
  }
  
  .container-fluid svg{
    fill: #6A737D;
  }
  
  .navbar-dark .navbar-nav .nav-link , .navbar-brand{
    color: #fff !important;
    font-weight: 600;
    white-space: nowrap;
    fill: #fff;
  }
  .navbar-dark .navbar-nav .nav-link:hover , .navbar-brand:hover {
    color: #BEBFC1 !important;
    fill: #BEBFC1;
    cursor: pointer;
  }
  
  .dropdown-menu.show::after
  {
    content: "";
    display: inline-block;
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    left: auto;
      right: 9px;
      top: -16px;
  }
  
  .dropdown-item{
    color: #24292e;
    display: block;
    overflow: hidden;
    padding: 4px 10px 4px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .dropdown-item:hover {
    background-color: #0366d6;
    color: #fff;
    outline: none;
  }
  
  .avatar {
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .vcard-fullname {
    font-size: 26px;
    line-height: 30px;
  }
  
  .vcard-username {
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }
  
  .vcard-details {
    list-style: none;
    padding: 0px;
  }
  .dropdown-menu {
    right:0;
    left: auto;
  }
  
  .btn{
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    color: #24292e;
    border: 1px solid rgba(27,31,35,.2);
  }
  
  /* Search Start */
  .search{
    background-color: hsla(0,0%,100%,.125);
    border: 0;
    box-shadow: none;
    color: #fff;
    border-radius: 3px;
    width: 300px;
    display: block;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .search .input-sm{
    background: none;
    border: 0;
    box-shadow: none;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
    min-height: 28px;
    width: 264px;
    height: auto;
    padding: 5px 8px !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .suggestion{
    visibility: hidden;
    width: 300px;
    position: absolute;
    background: #fff;
    top: 46px;
    z-index: 55;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .suggestion ul{
    list-style: none;
    padding: 0;
  }
  
  .suggestion ul li{
    color: #24292e;
    border: 1px solid #e1e4e8;
    border-bottom: 0px;
    box-shadow: none;
  }
  .suggestion ul li:last-child{
    border-bottom: 1px solid #e1e4e8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .suggestion ul li:hover{
    color: #fff !important;
    fill: #fff;
    background-color: #0366D6;
    border: 1px solid #0366D6;
    outline: none;
  }
  
  .search.active, .suggestion.active {
    background-color: white;
    width: 470px;
  }

  .suggestion.active {
    visibility: visible;
  }
  .search.active .input-sm{
    width: 435px;
  }
  
  .search.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  /* Search end */
  
  .sticky {
    position: fixed;
    top: 0;
    width: 71%;
    z-index: 1020;
  }
  
  #profile-scroll{
    background-color: #fff;
    font-weight: 600;
    left: -16px;
    top: -16px;
    margin: 0px;
    padding: 11.5px;
    padding-left: 48px;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
  }
  
  .show{
    display: block;
  }
  
  .hide{
    display: none;
  }
  
  .year-btn button{
    margin-top: 10px;
    border-radius: 3px !important;
    font-size: 12px;
    padding: 8px 10px;
    background-image: none !important;
    background-color: transparent !important;
    color: #586069 !important;
    text-align: left;
    border: 0;
  }

  .year-btn button.active{
    background-color: #0366d6 !important;
    color: #fff !important;
  }

  .yearly-contributions > div:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 16px !important;
  }
  .yearly-contributions > div:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 16px !important;
  }

  .yearly-contributions button{
    border-radius: 3px !important;
    font-size: 12px;
    padding: 4px 8px;
    background-color: transparent !important;
    color: #586069 !important;
  }
  .yearly-contributions a:hover{
    text-decoration: underline;
  }

  .yearly-contributions .activity-overview-axis, .activity-overview-point {
    stroke: #6cb267;
  }
  .yearly-contributions .activity-overview-percentage {
    fill: #959da5;
    font-size: 10px;
  }
  .yearly-contributions .activity-overview-label {
    fill: #586069;
    font-size: 12px;
  }

  /* Tabs */
  nav .nav-tabs{
    padding-right: 25%;
    background-color: white;
  }
  .tabs .nav-tabs .nav-link {
    color: #586069;
    background-color: transparent;
    padding: 16px 8px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    text-align: center;
  }
  .tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000 !important;
    border-bottom: 2px solid #e36209 !important;
    font-weight: 600;
  }
  
  .tabs .badge-secondary{
    background-color: rgba(27,31,35,.08);
    border-radius: 20px;
    color: #586069;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 2px 5px;
    margin-left: 4px;
  }

  .tab-details{
    padding: 0;
    color: #586069 !important;
  }
  .tab-details li{
    border-bottom: 1px solid #e1e4e8 !important;
    list-style: none;
    padding-bottom: 24px !important;
    padding-top: 24px !important;
  }
  .tab-details li h5{
    font-weight: 600;
    font-size: 20px;
  }
  .tab-details li a:hover{
    text-decoration: underline;
  }
  .tab-details li div div > span{
    margin-bottom: 8px !important;
    display: block;
  }

  .tab-details li div div div:last-child{
    font-size: 12px;
  }
  .tab-details li div div div > span{
    margin-right: 16px !important;
    display: inline-block;
    fill: #586069;
  }

  .tab-details li div div div > span:hover{
    color: #0366d6 !important;
    fill: #0366d6 !important;
    cursor: pointer;
  }

  .tab-details li div div div > span svg{
    vertical-align: sub;
  }

  .tab-details li .badge, .tab-details-pinned li .badge{
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 1px;
    width: 12px;
    margin-right: 4px;
  }

  .tab-details-pinned{
    padding: 0px !important;
    font-size: 14px !important;
  }
  .tab-details-pinned li{
    display: flex !important;
    border-radius: 3px;
    list-style: none;
    float: left;
    width: 49%;
    box-sizing: border-box;
  }
  .tab-details-pinned li > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
  }

  .tab-details-pinned div > li > div span:first-child{
    font-weight: 600;
  }
  .tab-details-pinned div > li p{
    font-size: 12px !important;
    flex: 1 0 auto;
    word-wrap: break-word;
  }
  .tab-details-pinned div > li > div span{
    color: #586069 !important;
    flex: 0 1 auto;
  }
  .tab-details-pinned li:nth-child(odd){
    margin-right: 2%;
  }
  .tab-details-pinned li > div{
    display: flex !important;
    flex-direction: column;
    width: 100%;
  }
  /* Tabs End */
  
  /* Footer style starts here */
  footer{
    padding: 16px!important;
    width: 100%!important;
  }
  footer ul{
    list-style: none;
  }
  /* Footer style ends here */

  /* Mobile */
  @media (max-width:767px){
    .container-fluid{
      padding: 0px;
    }
    .navbar svg{
      fill: #fff;
    }
    .navbar button{
      padding: 0;
      border: 0;
    }
    .navbar li{
      border-top: 1px solid #e1e4e8!important;
      border-color: hsla(0,0%,100%,.15)!important;
    }
    .navbar li:first-child{
      border-top: 0px !important;
    }
    .tabs nav{
      overflow-x: auto;
    }
    .nav{
      display: -webkit-inline-box;
    }
    nav .nav-tabs {
      padding-right: 0;
    }
    .tabs .badge-secondary{
      display: none;
    }
    .tab-details-pinned li{
      border-radius: 3px;
      list-style: none;
      float: left;
      width: 100%;
      margin-left: 0;
    }

    .sticky {
      width: 100%;
      left: 0px;
      padding-left: 14px;
    }
  
    .search{
      width: 100% !important;
      display: -webkit-box;
    }
    .search .input-sm {
      width: 90% !important;
    }
    .search img{
      float: none !important;
      margin-top: 2px;
    }
    .suggestion {
      width: 91% !important;
      top: 85px;
      left: 16px;
    }
  
    #profile-scroll{
      padding-left: 14px !important;
    }
    
    .tab-details-pinned div{
      display: block !important;
    }
    .tab-details-pinned li{
      display: flex !important;
      float: none !important;
      width: 100% !important;
    }
    .tab-details-pinned li:nth-child(odd){
      margin-right: 0;
    }
  }

/* Medium devices (tablets, less than 992px)  */
@media (max-width: 991.98px) {
  .tabs nav{
    overflow-x: auto;
  }
  .nav{
    display: -webkit-inline-box;
  }
  nav .nav-tabs {
    padding-right: 0;
  }
}
  