<div class="proejct">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                <svg fill="#bbb" class="octicon octicon-search text-gray-light" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path></svg>
            </span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="border">
        <div class="border-bottom p-3">
            <div class="row">
                <div class="col-10 col-md-11 col-lg-11 col-xl-11">
                    <a class="mr-2">
                        <svg class="mr-2" viewBox="0 0 15 16" version="1.1" width="15" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M10 12h3V2h-3v10zm-4-2h3V2H6v8zm-4 4h3V2H2v12zm-1 1h13V1H1v14zM14 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"></path></svg> 0 Open
                    </a>
                    <a class="mr-2">
                        <svg class="mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg> 0 Closed
                    </a>
                </div>
                <div class="col-2 col-md-1 col-lg-1 col-xl-1">
                    <a class="sort dropdown-toggle" data-toggle="dropdown">Sort</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">
                            <svg class="octicon octicon-check select-menu-item-icon" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
                            <span>Newest</span>
                        </a>
                        <a class="dropdown-item" href="#"><span>Oldest</span></a>
                        <a class="dropdown-item" href="#"><span>Recently Updated</span></a>
                        <a class="dropdown-item" href="#"><span>Least Recently Updated</span></a>
                        <a class="dropdown-item" href="#"><span>Name</span></a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="p-3 text-center">
            <h5>{{user.login}} doesn't have any projects yet.</h5>
        </div>
    </div>
</div>    


        

